*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #161616;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
    line-height:1.5;
    letter-spacing:.16px;
}

a{
    color: #161616;
    text-decoration: none;
}
li a{
    cursor: pointer;
}

ul{
    list-style: none;
}


/*header*/
.main-header{
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height:3rem;
    background: #161616;
    z-index: 6000;
}
.ibm-logo{
    margin-left: 20px;
    color:#f3f3f3;
}
a.header-text{
    color: #f4f4f4;
    font-size: .875rem;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem 0 1rem;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    user-select: none;
    letter-spacing: .1px;
    line-height: 20px;
    border: .125rem solid transparent;
    transition: border-color .11s;
}
/*@media screen and (max-width: 1301px) and (min-width: 1241px){*/
span.header-text-ibm{
    overflow: hidden; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: relative;
    padding-left: 1em;
}

span.header-text-ibm::before{
    content: "";
    width: 1px;
    background: #fff;
    height: 100%;
    left:0;
    position: absolute;
}
nav.header-nav{
    overflow: hidden;
    position: relative;
    padding-left: 1em;
}
nav.header-nav::before{
    content: "";
    width: 0.5px;
    display: block;
    background: #393939;/*rgb(57,57,57)*/;
    top:50%;
    transform: translateY(-50%);
    height: 1.5rem;
    width: 0.0625rem;
    position: absolute;
    left: 0;
}
/*a.header-img{
    color: #f4f4f4;
    cursor: pointer;
    padding: 0 32px 0 16px;
    border: .125rem solid transparent;
    height: 100%;
    display: flex;
    letter-spacing: 0.1px;
    transition: .11s;
    font: inherit;
    vertical-align: baseline;
}*/
ul.main-menu{
    display: flex;
    height: 100%;
    padding:0;
    margin: 0;
}
li.sub-menu{
    position: relative;
}

a.menu-item{
    position: relative;
    display: flex;
    align-items: center;
    color: #c6c6c6;
    padding: 0 1rem 1rem 0rem;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.125rem;
    text-decoration: none;
    user-select: none;
    border: 2px solid transparent;
    transition: background-color .11s,border-color .11s,color .11s;
}

.down-arrow{
    fill: rgb(198, 198, 198);
    margin-left: 0.5rem;
    width: 16;
    height: 16;
    transition:transform .11s, fill .11s;
}
ul.header-menu{
    display: none;
    list-style: none;
    height: 2rem;

}
a#header-anchor{
    height: 2rem;
}
a.header-menu{
    position: relative;
    display: flex;
    align-items: center;
    color: #c6c6c6;
    padding: 0 1rem;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.125rem;
    text-decoration: none;
    user-select: none;
    border: 2px solid transparent;
    transition: background-color .11s,border-color .11s,color .11s;
}
span.text-end{
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
li.menu-seperator{
    border-bottom: 1px solid #4c4c4c;
}
.header-globe{
    display: flex;
    justify-content: flex-end;
    margin-left: 90px;
    height: 100%;
    
}
.search-container{
    margin-top:9px; 
}
button.header-search{
    display: inline-block;
    background: none;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: .125rem solid transparent;
    transition: background-color .11s,border-color .11s;
}
button{
    margin: 0;
    border-radius: 0;
    font-family: inherit;
}
.header-action{
    fill:#fff;
    width:20;
    height: 20;
    overflow: hidden;
    cursor: pointer;
}
/*user-pages*/
.user-pages{
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}

.user-pages::before{
       display: block; 
        content: "";
        width: 1px;
        height: 100%;
        background: #393939;
        left:0;
        position: absolute;
        
}
ul.user-links{
    display: flex;
    height: 2rem;
    padding:0;
    margin: none;
    list-style: none; 
    
}

li.button-sign-in{
    margin: -8px;
    text-align: center;
    padding: 0.1rem 1rem 1rem 0rem;
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    vertical-align: baseline;

    
}
li.button-register{
    color: #fff;
    display: inline-block;
    border:none;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: -8px 0px;
vertical-align: baseline;
    font-size: 16px;
    background-color: #0062ff;
    padding: 0.1rem 1rem 1rem 0rem;
    height: 100%;
    position: relative;

}
a.button-menu{
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: #0062ff;
   
    text-align: center;
    text-decoration: none;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.125rem;
    text-decoration: none;
    user-select: none;
    border: 2px solid transparent;
    transition: background-color .11s,border-color .11s,color .11s;

}
 /* Lets style the container-Landing-Page img
  */

  .container{
      margin-top: 3rem;
     
  }
  #landing-image{
      background:url(images/africa-banner.png) right  center / cover no-repeat ;
  }
.header-img .title{
    text-align: left;
    padding: 1.5rem 0 0;
    padding-left: 18px;
    background-image: linear-gradient(126deg,#5b29e6 -13%,#cf2361 56%);
    font-size: 48px;
    font-weight: 700;
    font-stretch: normal;
    line-height: 1.15;
    margin-bottom: 16px;
    letter-spacing: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 10px;
}
.bx--grid{
    z-index: 2;
    direction: 1tr;
    margin-right: auto;
    margin-left: auto;
    max-width: 99rem;
}
.desc-items,.desc-item{
margin-bottom: 16px;
}
.desc-items,.desc-item{
    margin-right: 9px;
    padding-left: 18px;
    
}
.title {
    margin-right: 9px;
    
}

/*Button Link*/
#button-register{
    display: flex;
}
.button-link{
    display: block;
    text-align: left;
    margin-right: 80px;
    padding-left: 30px;
}
p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
}
.header-img a{
    margin:12px 0px 24px;
}
a.btn{
background-color: #0f62fe;
border: 1px solid transparent;
color: white;
  padding: 14px 85px 14px 25px;
  text-align:left;
  text-decoration: none;
  display: inline-block;
}
a.btn-play{
    display: inline-block;
}
.btn-prime{
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125;
    letter-spacing: .16px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    vertical-align: top;
    flex-shrink: 0;
    min-height: 3rem;
    padding:calc(.875rem - 3px) 60px calc(.875rem -3px) 12px;
    border-radius: 0;
    text-align: left;
    text-decoration: none;
    transition:all 70ms cubic-bezier(0, 0, 0.38, 0.9) 0s;
    outline: none;
}

 .play-store{
    width:190px;
    height: 73px;
    display: inline-block;   
}
/* watch videos*/
p.watch-V{
    direction:1tr;
    width: fit-content;
}
div a{
   /* display: flex;*/
    align-items: center;
}
a.watch-video{
    fill:#d2ac58;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-decoration:none;
}
a.inline-svg{
    width: 32px;
    height: 32px;
}
div .span{
    text-align: right;
    font-size: 16px;
    
}
div a span{
    white-space: pre-wrap;
    padding-inline-start: 16px;
}
div.watch{
    /*padding:2vw!important;*/
    display:inline-block;
    margin: 0;
    align-content: start;
    z-index: 2;
    direction: 1tr;
    align-items: start;
    padding-left: 18px;
}

/*learning path-*/
section{
margin: 0 auto;
text-align: center;
padding: 4rem 3rem 0;
}
.learning-path-head{
    background-image: linear-gradient(168deg,#5b29e6 -7%,#de2779 115%,#ec276e 139%);
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    display: block;
    text-align: center;
}  

.learn-yourself.me{
width: 50%;
align-items: center;
    text-align: center;
justify-content: center;
display: grid;
grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 150px;
    margin-bottom: 40px;
    
}
.learn-yourself,.learning-path>div{
    text-align: center;
    padding: 0rem 3rem 0 8rem;
    flex-grow: 1;
    width: 60%;
    display: flex;
    margin: 2rem auto;
    grid-gap: 100px;
    
}
div.number{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 0;
}
.learn-yourself,.learning-path>div>div {
    padding: 0.5rem 0;
}
.learn-yourself{
    display: block;
}
/*Courses*/
.slick-slider{
    margin-left: -0.5rem;
      margin-right: -0.5rem;
      margin-bottom: 4rem;
      position: relative;
      display: block;
      box-sizing: border-box;
      user-select: none;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
      transform: translateZ(0);
}

.slick-disabled {
    display: none!important;
    }
.slick-arrow{
    outline: 0;
}
    .slick-prev{
        left:-25px;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        padding: 0;
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
    }
    button{
        margin:0;
        border-radius: 0;
        font-family: inherit;
    }
    .learning-path .slick-slider .btn-row{
        height: auto!important;
        padding-bottom: 1.5rem!important;
    }
    .btn-row{
        float: left;
        min-height: 1px;
        display: block;
    }
    .learning-path .slick-slider .btn-row>div {
        height: 100%;
    }
    .learning-path .slick-slider .row-track {
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .learning-path .slick-slider .row-track a {
    color:#323232;
text-decoration: none;
}
.path-item{
    background-image: linear-gradient(rgb(92, 195, 246), rgb(47, 144, 233));
}

.learning-path .slick-slider .row-track .image-item{
    max-width: 68px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top:22px;
}
.btn-row img{
    display: block;
}
.learning-path .slick-slider .row-track .image-item p{
    text-align: start;
    position: absolute;
    left:13px;
    bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    height: 60;
}
p{
    line-height: 1.5rem;
    letter-spacing: 0;
}